* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background-color: #2B2B2B;
}

.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation { 
    display: flex;
    align-items: center;
}

.nav_item { 
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

.header_button { 
    background-color: #A259FF;
    padding: 20px 30px;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.header_button > img{ 
    width: 20px;
    height: 20px;
    margin-right: 13px;
}


.nav_item:last-child {
    margin-right: 0;
}

.header_logo { 
    width: 235px;
    height: 32px;
    margin-left: 15px;
}


.article_section_box_first { 
    display: flex;
    justify-content: space-between;
    margin: 80px 115px;
    /* width: 1280px; */
}

.article_box_child_one { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article_box_child_two { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article_box { 
    display: flex;
    align-items: flex-start;
    /* margin: 80px 115px; */
    gap: 120px;
}

.article_title { 
    font-weight: 600;
    font-size: 67px;
    line-height: 73px;
    width: 420px;
    color: #fff;
}

.article_paragraph { 
    width: 420px;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 20px;
}


.article_button { 
    display: flex;
    align-items: center;
    border: none;
    padding: 19px 50px;
    background-color: #A259FF;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.article_button_img { 
    margin-right: 12px;
}

.additional_info_box { 
    display: flex;
    margin-top: 30px;
}


.additional_info_box_item { 
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.additional_info_box_item:last-child {
    margin-right: 0;    
}

.additional_info_box_item_title { 
    font-size: 28px;
    font-weight: 700;
    line-height: 39px;
    color: #fff;
}

.additional_info_box_item_paragraph { 
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.frame { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3B3B3B;
    padding: 20px;
    gap: 10px;
    width: 510px;
    border-radius: 0 0 20px 20px;
    margin-top: -4px;
}

.frame_title { 
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    
}

.frame_avatar { 
    width: 24px;
}

.avatar_info { 
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar_title { 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 22px;
}


.trending_card_section { 
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    gap: 60px;
}

.trending_card_headline { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 117px ;
    gap: 10px;
}

.trending_card_headline_title { 
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 38px;
    font-weight: 600;
    line-height: 45px;
    color: #fff;
    text-transform: capitalize;
}

.trending_card_headline_subhead { 
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-transform: capitalize;
}

.collection_cards { 
    display: grid;
    grid-template-columns: 330px 330px 330px;
    gap: 30px;
    margin: 0 115px;
}

/* აქ კიდევ , ასე გამოვიდა რაღაც უკეთესად და , თუ არასწორია ჩამისწორე კოდში თხოვნა მექნება 🤝 */
.collection_card_item { 
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* აიი , ვეანაირად ვერ გავაკეთე აქ gap-ი */
/* .collection_card_primary_img {
    margin-bottom: 15px;
} */

.collection_card_frame { 
    display: flex;
    gap: 15px;
}

.num_of_nft_item { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A259FF;
    color: #fff;
    padding: 32px 15px;
    border-radius: 20px;
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
}

.collection_info_box { 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.collection_info_box_title {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

.artist_card { 
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.rated_artists_section { 
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 80px 0;
}

.section_headline { 
    display: flex;
    align-items: flex-end;
    margin: 0 115px;
    gap: 100px;
}

.headline_text_box { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.headline_title { 
    font-size: 38px;
    font-weight: 600;
    line-height: 38px;
    color: #fff;
}

.headline_subhead { 
    font-size: 22px;
    font-weight: 400;
    width: 703px;
    line-height: 32px;
    color: #fff;
}

.headline_button > button { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #fff;
    padding: 0 50px;
    border: 2px solid #A259FF;
    border-radius: 20px;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.artists_grid_list { 
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 238px 238px 238px 238px;
    gap: 30px;
    margin: 0 115px;
}

.artist_grid_item { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3B3B3B;
    border-radius: 20px;
    gap: 20px;
    position: relative;
}

.artist_info_item { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.artist_name { 
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
}

.artist_additional_info_box { 
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sales { 
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #858584;
}

.amount { 
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
}

.artist_rank { 
    position: absolute;
    top: 18px;
    left: 20px;
    display: flex;
    background-color: #2B2B2B;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    justify-content: center;
}

.artist_rank > h6 { 
    color: #858584;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Responsive is Here */



@media (min-width:1281px) { 
    .article_box { 
        display: flex;
        align-items: flex-start;
        gap: 280px;
    }
}

@media (min-width:834px) {
    .burger_nav { 
        display: none;
    }
}

@media (max-width:834px) {
    .burger_nav{ 
        display: block;
        cursor: pointer;
    }
}

@media (max-width:834px) { 
    .navigation { 
        display: none;
    }
}

@media  (max-width:834px) {
    .article_section_box_first { 
        margin: 80px 72px;
    }
    .article_box { 
        gap: 60px;
    }
    .article_title { 
        font-size: 38px;
        font-weight: 600;
        line-height: 45px;
        width: 300px;
    }
    .article_paragraph { 
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        width: 300px;
    }
    .article_button { 
        margin-top: 20px;
    }
    .additional_info_box_item_title { 
        font-size: 22px;
    }
    .additional_info_box_item_paragraph { 
        font-size: 16px;
    }
    .article_box_child_two_img { 
        width: 330px;
    }
    .frame { 
        width: 330px;
    }
    .article_box_child_one { 
        width: 300px;
    }

    .trending_card_headline { 
        margin: 0 72px;
    }

    .collection_cards { 
        margin: 0 72px;
    }

    .section_headline { 
        margin: 0 72px;
    }

    .trending_card_headline_title > h3 { 
        font-size: 28px;
        line-height: 39px;
    }

    .trending_card_headline_subhead { 
        font-size: 16px;
        line-height: 22px;
    }

    .collection_card_item:last-child { 
        display: none;
    }

    .headline_title { 
        font-size: 28px;
    }

    .headline_subhead { 
        font-size: 16px;
        width: 343px;
    }

    .artists_grid_list{
        grid-template-columns: 330px 330px;
        grid-template-rows: 100px 100px 100px;
        margin: 0 72px;
    }

    .artist_grid_item { 
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
    }

    .artist_info_item { 
        align-items: flex-start;
    }

    .artist_grid_item > img { 
        width: 60px;
        /* margin: 20px; */
    }

    .hidden { 
        display: none;
    }

    .artist_rank { 
        top: 17px;
        left: 22px;
    }
}

@media (max-width:375px) { 
    .header { 
        margin: 0 30px;
    }

    .header_logo > img{ 
        width: 182px;
    }

    .burger_nav { 
        margin-left: 39px;
    }

    .article_section_box_first{ 
        margin: 40px 30px;
    }

    .article_box { 
        flex-direction: column;
    }

    .article_title { 
        font-size: 28px;
    }

    .article_box_child_two_img { 
        width: 315px;
    }

    .frame { 
        width: 315px;
    }
    
    .additional_info_box { 
        justify-content: center;
        align-items: center;
        width: 315px;
    }

    .article_button { 
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .collection_card_item:nth-child(2) { 
        display: none;
    }

    .artists_grid_list{
        grid-template-columns: 315px;
        grid-template-rows: 100px;
        margin: 0 30px;
    }

    .trending_card_headline_title { 
        width: 315px;
    }

    .trending_card_headline_subhead { 
        width: 315px;
    }

    .collection_cards { 
        margin: 0 30px;
    }

    .collection_card_primary_img {
        width: 315px;
    }
    
    .collection_card_frame { 
        height: 95px;
    }

    .rated_artists_section { 
        position: relative;
    }

    .section_headline { 
        margin:0 30px;
    }

    .headline_button > button {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 315px;
        padding: 0 50px;
        margin: 30px;
    }
}